{% extends "master.html.twig" %}

{% block title %}Access denied{% endblock %}

{% block content %}
    <p><a href="/admin/recipes/add">Add new recipe</a></p>
    <table class="table table-striped">
        <tr><th scope="col">Recipe</th><th scope="col">Description</th><th scope="col">Instruction</th><th scope="col">User</th><th scope="col">Cuisines</th><th scope="col">Diet</th><th scope="col">Actions</th></tr>
        {% for p in list %}
        <tr>            
            <td>{{p.name}}</td>
            <td>{{p.description}}</td>
            <td>{{p.instruction}}</td>
            <td>{{p.User}}</td>
            <td>{{p.Cuisine}}</td>
            <td>{{p.Diet}}</td>
            
            <td>
                <!-- method 1 - simple h-ref text link -->
                <!-- <a href="/admin/products/edit/{{p.id}}">Edit</a> -->
                <!-- method 2 - button with javascript -->
                <button onclick="window.location='/admin/recipes/delete/{{p.id}}';">Delete</button>
                <!-- method 3 - form with submit button -->
                <form action="/admin/recipes/edit/{{p.id}}">
                    <input type="submit" value="Edit">
                </form>
            </td>
        </tr>                
        {% endfor %}
    </table>
{% endblock content %}
